;;;
	"title": "Styles"
;;;


%section
	.container
		.row
			.col-lg-12
				%h1.bold-font.mb-5
					= lorem.sentences 3
				%h2.bold-font.mb-5
					= lorem.sentences 3
				%h3.bold-font.mb-5
					= lorem.sentences 3
				%h4.bold-font.mb-5
					= lorem.sentences 3
				%h5.bold-font.mb-5
					= lorem.sentences 3
				%h6.bold-font.mb-5
					= lorem.sentences 3
				%p.body-small
					= lorem.sentences 5
				%p
					= lorem.sentences 5
				%p.body-large
					= lorem.sentences 5
				%p.light-font
					Light font
				%p.regular-font
					Regular font
				%p.medium-font
					Semibold font
				%p.bold-font
					Bold font
				%p
					%a{:href=>"#"}
						Linked
				%p
					%a.btn.btn-primary{:href=>"http://images6.alphacoders.com/316/316963.jpg"}
						Primary
					%a.btn.btn-secondary{:href=>"http://images6.alphacoders.com/316/316963.jpg"}
						Secondary
					%a.btn.btn-terciary{:href=>"http://images6.alphacoders.com/316/316963.jpg"}
						Terciary
					%a.btn.btn-success{:href=>"http://images6.alphacoders.com/316/316963.jpg"}
						Success
					%a.btn.btn-warning{:href=>"http://images6.alphacoders.com/316/316963.jpg"}
						Warning
					%a.btn.btn-danger{:href=>"http://images6.alphacoders.com/316/316963.jpg"}
						Danger
					%a.btn.btn-flat{:href=>"http://images6.alphacoders.com/316/316963.jpg"}
						Flat
					%a.btn.btn-link{:href=>"http://images6.alphacoders.com/316/316963.jpg"}
						Link
				%i.material-icons
					face
				%a.btn.btn-flat{:href=>"#"}
					%i.material-icons
						delete
						
